/* ---------------------
    common part start
------------------------ */

*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
body{
  font-family: 'Poppins', sans-serif;
}
.text-color{
  color: #707b7c;
}
/* ----------------------
     Course & Student part
 ------------------------ */
 @media only screen and (min-width: 992px) {
  .heading-area{
    height: 80px;
  }
  .text-shots{
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 }

.std-size{
  width: 50px;
  height: 50px;
  ;
}

 /* ---------------------
   logo part start
----------------------- */

#brand_logo{

  margin-top: 80px;
}
.container hr{
  border: 1px solid lightgrey;
}
.company{
  text-align: center;
  margin: 30px 0px;
}
.company img{
  margin: 0px 10px;
  transition: .5s;
}
.company img:hover{
  transform: scale(1.25);
}

/* ----------------------
  Register part start
----------------------- */
.register{
  height: 250px;
  width: 70%;
  margin: 80px auto;
  border-radius: 10px;
  background-color:  #3498db;
  padding: 10px;
}
.btn-register{
  color: #3498db;
  background-color: aliceblue;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

/* ----------------------
  Footer part start
----------------------- */

.footer{
  color: white;
  background-color: black;
  padding: 50px;
}
.icons{
  text-align: center;
}
.icon{
  color: white;
  border: 5px;
  padding: 5px;
  font-size: 2em;
}